replay-timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #f5f5f5;
}
replay-timeline .hit-list-header {
  display: flex;
  flex: 0 0 30px;
  align-items: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e4e4e4;
}
replay-timeline .hit-list-header > div {
  padding-left: 5px;
}
replay-timeline .hit-list-header .time {
  flex: 0 0 60px;
}
replay-timeline .hit-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100%;
  overflow: auto;
  padding-right: 10px;
}
replay-timeline .hit-list .scroll-content {
  display: flex;
  flex-direction: column;
}
replay-timeline .hit-list .repeated-item {
  display: flex;
  align-items: center;
  flex: 0 0 30px;
  border-bottom: 1px solid #ebebeb;
  font-size: 14px;
  cursor: pointer;
  background-color: rgba(229, 239, 250, 0);
}
replay-timeline .hit-list .repeated-item.selected {
  background-color: #e5effa;
  transition: background 300ms ease-in;
}
replay-timeline .hit-list .repeated-item:hover {
  background-color: #e5effa;
}
replay-timeline .hit-list .repeated-item > div {
  padding-left: 5px;
}
replay-timeline .hit-list .repeated-item .time {
  flex: 0 0 60px;
}
replay-timeline .hit-list .repeated-item .action {
  padding-left: 20px;
  max-width: 350px;
  padding-right: 5px;
  display: flex;
  align-items: center;
}
replay-timeline .hit-list .repeated-item .action .desc {
  padding-top: 4px;
}
replay-timeline .hit-list .repeated-item .action .action-icon {
  width: 19px;
  height: 19px;
  flex: 0 0 19px;
  background-repeat: no-repeat;
  margin-right: 10px;
  display: inline-block;
}
replay-timeline .hit-list .repeated-item .action.view-loaded {
  padding-left: 0;
}
replay-timeline .hit-list .repeated-item .action.view-loaded .action-icon {
  background-image: url('images/smartphone.svg');
}
replay-timeline .hit-list .repeated-item .action.swipe .action-icon {
  background-image: url('images/swipe-up.svg');
}
replay-timeline .hit-list .repeated-item .action.tap .action-icon {
  background-image: url('images/tap-button.svg');
}
replay-timeline .hit-list .repeated-item .action.zoom-in .action-icon {
  background-image: url('images/zoom-in.svg');
}
replay-timeline .hit-list .repeated-item .action.zoom-out .action-icon {
  background-image: url('images/zoom-out.svg');
}
replay-timeline .hit-list .repeated-item .action.tilt .action-icon {
  background-image: url('images/rotate.svg');
}
replay-timeline .hit-list .repeated-item .action.navigate-back .action-icon {
  background-image: url('images/left-arrow.svg');
  height: 16px;
}
replay-player {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
replay-player .player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
replay-player .player-container .player-actions {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
replay-player .player-container .player-actions .action {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2) no-repeat;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  margin-left: 5px;
}
replay-player .player-container .player-actions .action.play {
  background-image: url('images/play-rounded-button-outline.svg');
  cursor: pointer;
}
replay-player .player-container .player-actions .action.play.off {
  animation: fadeOut .5s;
}
replay-player .marvel-device {
  margin: 8px;
  width: auto !important;
  height: auto !important;
}
replay-player .marvel-device.landscape.s5 .speaker {
  left: initial !important;
  right: 20px;
}
replay-player .marvel-device.landscape.s5 .sensor {
  bottom: 110px;
  top: initial !important;
}
replay-player .marvel-device.landscape.s5 .sensor:after {
  left: initial !important;
  top: -12px;
}
replay-player .marvel-device.landscape.s5 .camera {
  top: initial !important;
  bottom: 42px;
}
replay-player .marvel-device.tilt-landscape {
  animation: rotate-right 0.8s;
}
replay-player .marvel-device.tilt-landscape .preview-img {
  animation: rotate-left 0.3s linear 0.5s;
}
replay-player .marvel-device.tilt-portrait {
  animation: rotate-left 0.8s;
}
replay-player .marvel-device.tilt-portrait .preview-img {
  animation: rotate-right 0.3s linear 0.5s;
}
replay-player .preview-img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
replay-player .snapshot-container {
  position: relative;
  overflow: hidden;
}
replay-player .snapshot-container .tap-annotation {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 250, 49, 0.85);
  box-shadow: 0 1px 1px 0 grey;
  visibility: hidden;
}
replay-player .snapshot-container .tap-annotation.animated.fadeIn {
  animation-duration: 0.1s;
  animation-delay: 0.2s;
}
replay-player .snapshot-container .tap-annotation.animated.fadeOut {
  animation-delay: 0.2s;
  animation-duration: 1s;
}
replay-player .snapshot-container .tap-annotation.visible {
  visibility: visible;
}
.cbutton {
  position: relative;
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  color: #3c8ddc;
  font-size: 1.4em;
  transition: color 0.7s;
}
.cbutton.cbutton--click,
.cbutton:focus {
  outline: none;
}
.cbutton__icon {
  display: block;
}
.cbutton__text {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.cbutton::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}
.cbutton--effect-radomir::after {
  box-shadow: inset 0 0 0 25px rgba(111, 148, 182, 0);
}
.cbutton--effect-radomir.cbutton--click::after {
  -webkit-animation: anim-effect-radomir 0.8s ease-out forwards;
  animation: anim-effect-radomir 0.8s ease-out forwards;
  animation-delay: 0.2s;
}
@-webkit-keyframes anim-effect-radomir {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.4, 0.4, 1);
    transform: scale3d(0.4, 0.4, 1);
  }
  80% {
    box-shadow: inset 0 0 0 2px rgba(111, 148, 182, 0.8);
    opacity: 0.1;
  }
  100% {
    box-shadow: inset 0 0 0 2px rgba(111, 148, 182, 0.8);
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}
@keyframes anim-effect-radomir {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.4, 0.4, 1);
    transform: scale3d(0.4, 0.4, 1);
  }
  80% {
    box-shadow: inset 0 0 0 2px rgba(111, 148, 182, 0.8);
    opacity: 0.1;
  }
  100% {
    box-shadow: inset 0 0 0 2px rgba(111, 148, 182, 0.8);
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}
@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
